.content {
    background-color: #000;
    height: calc(100vh - var(--height-nav)) ;
    background-color: #ccc;
    position: relative;
}

.menu {
    background-color: #48578E;
    width: var(--width-menu);
    height: 100%;
    position: absolute;
    padding: 20px 15px;
}

.menu_title {
color: #fff;
margin: 10px auto;
}

.menu_list {
border: none;
/* position: absolute; */
width: 100%;
height: 50px;
background-color: #fff;
margin-top: 10px;
border-radius: 15px;
font-family: 'Poppins';
font-weight: 500;
font-size: 1em;
color: #000 ;
text-align: left;
padding-left: 20px;
}

.menu_list:hover {
background-color: #6171A9;
color: #fff;
}

.menu_list.chosen {
background: #212C58 !important;
color: #fff !important;
}

#list {
    background-color: #fff;
    position: absolute;
    right: 0;
    left: var(--width-menu);
    height: 100%;
}

.list-search {
    margin: 15px;
    padding: 0 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: #000 solid 1px;
    font-size: 1rem;
    
    display: flex;
    justify-content: center;
}

.list-search i {
    display: flex;
    align-items: center;
}

.list-search input {
    border: none;
}

.list-search input:focus {
    outline: none;
}

.list-item {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-item-title {
    height: 35px !important;
    font-weight: 700; 
}

.list-item-odd {
    background-color: #F7F6FE !important;
}

.list-item-col {
    width: 130px;
    padding: 0 15px;
    /* border: #000 solid 1px; */
    flex-grow: 1;
    flex-shrink: 0;
    
    /* for child */
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-col-name {
    width: 300px;
    flex-grow: 3 !important;
    text-align: left !important;
    justify-content: left !important;
}

.list-item-col .fa-solid{
    font-size: 1.3em;
    padding: 0 28px;
}

.accept{
    color: green;
}

.list-item-col .accept_status {
    background-color: #EBF9F1;
    color: #1F9254;
    padding: 4px 15px;
    border-radius: 15px;
    font-style: normal;
}

.list-item-col .denied_status {
    background-color: #FBE7E8;
    color: #A30D11;
    padding: 4px 15px;
    border-radius: 15px;
    font-style: normal;
}

.list-item-col .pending_status {
    background-color: #FEF2E5;
    color: #CD6200;
    padding: 4px 15px;
    border-radius: 15px;
    font-style: normal;
}

.list-end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 50px;
}

.move-list {
    border: none;
    background-color: #fff;
    font-weight: 500;
    font-size: 1em;
    color: #ccc;
    margin: 0 10px;
}

.list-number button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 8px;
    margin: 0 10px;
    font-weight: 400;
    font-size: 1em;
}

.list-number .chosen {
    color: #fff !important;
    background-color: #48578E !important;
}

.list-number button:hover {
    background-color: #6171A9;
    color: #fff;
}

/* responsive */

#header .phone-tablet {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
}

.phone-tablet .pandt {
    position: relative;
    text-decoration: none;
    display: none;
    color: #fff;
    font-weight: 700;
    line-height: var(--height-nav);
    padding: 0 24px;
    height: 100%;
    font-size: 2.5em;
}

/* tablet */

@media only screen and (max-width: 64em) {
    #information, #header .header-right, #content #menu {
        display: none;
    }
    .phone-tablet .pandt {
        display: inline-block;
    }
    #content #list {
        margin-top: 1em;
        width: 100%;
        left: 0;
    }
    @media only screen and (max-width: 48em) {
        .list-item-col {
            width: 50px;
        }
    }
    @media only screen and (max-width: 37.5em) {
        #header {
            font-size: 1em;
        }
    }
}

/* phone */

@media only screen and (max-width: 25.875em) {
    #header {
        font-size: 0.8em;
        padding: 0 50px;
    }   
    
}