.waiting-load {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    overflow: hidden;
    z-index: 100000000;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}
.icon {
    font-size: 60px;
    color: #FFF;
    position: absolute;
    top: 40%;
    left: 47%; 
}
.rotate-around {
    animation: around 1.5s linear infinite;
    -moz-animation: around 1.5s linear infinite;
    -ms-animation: around 1.5s linear infinite;
    -o-animation: around 1.5s linear infinite;
    -webkit-animation: around 1.5s linear infinite;
}
@-webkit-keyframes around {
    from {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}


