.homepage-container {
    background-color: #FFF;
    width: 100vw;
    height: 1200px;
}

h1 {
    font-size: 28.13px; 
    margin-left: 28.13px; 
    margin-top: 80px;
}
div#Search {
    margin-left: 28.13px; 
    width: auto;
}
div.container {
    position: relative;
    margin:auto; 
    margin-top: 23px;
}
div.card {
    border: none;
    position: relative;
    width: 25%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 160px;
    margin: 10px 20px;
}
div.leftcard {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: #3b6bb4;
}
div.rightcard {
    position: relative;
    display: block;
}
p.info {
    position: absolute;
    margin-bottom: 2px;
    left: 220%;
    text-align: center;
    top: -5px;
}
.info#name {
    text-transform: uppercase;
}
button.reg {
    left: 80%;
    top: 120%;
    background-color: #737373;
}
hr {
    height:3px; 
    width:80%; 
    margin:auto; 
    border-width:0; 
    color: #000000; 
    background-color:black;
}

