.homepage-container {
    width: 100vw;
}

.homepage-title {
    font-size: 30px; 
    margin-left: 30px; 
    margin-top: 80px;
}
div#hp_search {
    margin-left: 28.13px; 
    width: auto;
}
div.hp_container {
    position: relative;
    margin:auto; 
    margin-top: 23px;
}
div.hp_card {
    border: none;
    position: relative;
    width: 25%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 160px;
    margin: 10px 20px;
}
div.hp_leftcard {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: #3b6bb4;
}
div.hp_rightcard {
    position: relative;
    display: block;
}
p.hp_info {
    position: absolute;
    margin-bottom: 2px;
    left: 220%;
    text-align: center;
    top: -5px;
}
.hp_info#hp_name {
    text-transform: uppercase;
}
button.hp_reg {
    left: 80%;
    top: 120%;
    background-color: #737373;
}
hr.hp_line {
    height:3px; 
    width:80%; 
    margin:auto; 
    border-width:0; 
    color: #000000; 
    background-color:black;
}

