/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  --height-nav: 70px;
  --width-menu: 270px;
  --height-footer: 250px;
  --height-temp: 700px;
}

body {
  background-color: #fff;
}

.display_none {
  display: none;
  /* remove the element from page and DOM. */
  visibility: hidden;
  /* remove only from page. */
}

#root {
  /* box-sizing: border-box; */
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/*  */