/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  --height-nav: 70px;
  --width-menu: 270px;
  --height-footer: 250px;
  --height-temp: 700px;
}

body {
  background-color: #fff;
}

.display_none {
  display: none;
  /* remove the element from page and DOM. */
  visibility: hidden;
  /* remove only from page. */
}

#root {
  height: 100%;
  width:100%;
}


/*  */