/* admin */
.isAdmin {
    color: green;
    font-size: 0.7em;
    margin-left: 3px;
}

.text_left {
    text-align: left !important;
    justify-content: left !important;
}


#menu {
    background-color: #48578E;
    width: var(--width-menu);
    height: 100%;
    position: absolute;
    padding: 20px 15px;
}

.menu_title {
    color: #fff;
    margin: 10px auto;
}

.menu_list_title {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 5px;
}

.menu_list_admin {
    border: none;
    /* position: absolute; */
    width: 100%;
    height: 35px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    background-color: #48578E;
}

.menu_list_admin:hover {
    color: #212C58;
}

.menu_list_admin.chosen {
    background: #fff !important;
    border-radius: 15px;
    color: #212C58;
}

.menu_list {
    border: none;
    /* position: absolute; */
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #000;
    text-align: left;
    padding-left: 20px;
}

.menu_list:hover {
    background-color: #6171A9;
    color: #fff;
}

.menu_list.chosen {
    background: #212C58 !important;
    color: #fff !important;
}

.list-item-col.list_item_multiline {
    display: flex;
    flex-direction: column;
    /* resize: vertical; */
    overflow: auto;
}


/* For Item page */
.item_add {
    display: flex;
    align-items: center;
    width: 300px;
}

.item_add_button {
	height: 45px;
	width: 120px;
	display: inline-block;
	border-radius: 20px;
	color: #fff;
    background-color: #48578E;
	font-size: 1rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	border: none;
    cursor: pointer;
}

.item_add_button:hover {
    background-color: #212C58;
}

.item_delete_chosen {
    color: red;
}


.item_name_col {
    /* padding-left: 10px; */
    width: 200px !important;
    justify-content: left !important;
    cursor: pointer;
}

.item_category_col {
    width: 200px !important;
}

.item_available_col {}

.item_quantity_col {}

.item_description_col {
    width: 350px !important;
    justify-content: left !important;
}


/* For User page */

.user_email_col {
    width: 300px !important;
    flex-grow: 1 !important;
    text-align: left !important;
    justify-content: left !important;
    padding-left: 30px;
}

.user_name_col {
    text-align: left !important;
    justify-content: left !important;
    width: 160px;
    cursor: pointer;
}

.user_code_col {
    width: 160px;
}

.user_phone_col {
    width: 160px;
}



/* for orders page */


.order_name_item {
    cursor: pointer;
    text-align: left !important;
    justify-content: left !important;
}

.order_quantity {}

.order_return_date {}

.order_name_user {
    cursor: pointer;
    text-align: left !important;
    justify-content: left !important;
}


.order_accept_button {
    font-weight: 600;
    background-color: #EBF9F1;
    color: #1F9254;
    border: 1.5px solid #1F9254;
    border-radius: 15px;
    color: #1F9254;
    width: 65px;
    height: 35px;
    margin-right: 10px;
}

.order_accept_button.chosen {
    background-color: #1F9254;
    color: #EBF9F1;
}

.order_deny_button {
    font-weight: 600;
    background-color: #fff;
    border: 1.5px solid #A30D11;
    border-radius: 15px;
    color: #A30D11;
    width: 65px;
    height: 35px;
}

.order_deny_button.chosen {
    background-color: #A30D11;
    color: #FBE7E8;
}

.no_content {
    margin-top: 50px;
    margin-left: 100px;
    font-size: 40px;
    color: #212C58;
}

/*for user detail*/
.button-edit {
    background-color: #EEF1F4;
    border-radius: 30px;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    right: 0;

    position: absolute;
    margin-left: 10px;
}

.button-edit:hover {
    background-color: #DADADA;
}

.edit-user {
    display: flex;
}

.item-infor {
    margin-right: 40px;
}

/* edit password*/
.edit_info_background {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(200, 200, 200, 0.2);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.edit_info_container {
    position: absolute;
    left: 40%;
    width: 450px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.edit_info_container .edit_info_body {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    text-align: center;
    color: #000;
}

.edit_info_container .edit_info_footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_info_container .edit_info_footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #48578E;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.label_body {
    font-size: 18px;
}

.input_body {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    background: #f2f2f2;
    border: 2px solid #F8F8F8;
    box-shadow: inset 0px 5px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding-left: 5px;
    margin-top: 5px;
}

.edit_info_input_valid {
    padding-left: 5px;
    text-align: left;
    color: green;
    font-size: 10px;
    font-style: italic;
}

.edit_info_input_invalid {
    padding-left: 5px;
    text-align: left;
    color: gray;
    font-size: 10px;
    font-style: italic;
}

.yes_button {
    background-color: #fff !important;
    color: red !important;
    border: 1px solid red !important;
}

.yes_button:hover {
    background-color: red !important;
    color: #fff !important;
}

.no_button {
    background-color: #fff !important;
    color: grey !important;
    border: 1px solid grey !important;
}

.no_button:hover {
    background-color: grey !important;
    color: #fff !important;
}