/* admin */
.isAdmin {
    color: green;
    font-size: 0.7em;
    margin-left: 3px;
}

.text_left {
    text-align: left !important;
    justify-content: left !important;
}


#menu {
    background-color: #48578E;
    width: var(--width-menu);
    height: 100%;
    position: absolute;
    padding: 20px 15px;
}

.menu_title {
    color: #fff;
    margin: 10px auto;
}

.menu_list_title {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 5px;
}

.menu_list_admin {
    border: none;
    /* position: absolute; */
    width: 100%;
    height: 35px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    background-color: #48578E;
}

.menu_list_admin:hover {
    color: #212C58;
}

.menu_list_admin.chosen {
    background: #fff !important;
    border-radius: 15px;
    color: #212C58;
}

.menu_list {
    border: none;
    /* position: absolute; */
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #000;
    text-align: left;
    padding-left: 20px;
}

.menu_list:hover {
    background-color: #6171A9;
    color: #fff;
}

.menu_list.chosen {
    background: #212C58 !important;
    color: #fff !important;
}

.list-item-col.list_item_multiline {
    display: flex;
    flex-direction: column;
    /* resize: vertical; */
    overflow: auto;
}


/* For Item page */
.item_add {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.item_add_button {
    height: 30px;
    width: 30px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 20px;
}

.item_add_form {
    left: 300px;
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 300px;
    background-color: #ccc;
}

.item_add_body {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item_delete_chosen {
    color: red;
}


.item_name_col {
    /* padding-left: 10px; */
    width: 200px !important;
    justify-content: left !important;
    cursor: pointer;
}

.item_category_col {}

.item_available_col {}

.item_quantity_col {}

.item_description_col {
    width: 350px !important;
    justify-content: left !important;
}


/* For User page */

.user_email_col {
    width: 300px !important;
    flex-grow: 1 !important;
    text-align: left !important;
    justify-content: left !important;
    padding-left: 30px;
}

.user_name_col {
    text-align: left !important;
    justify-content: left !important;
    width: 160px;
    cursor: pointer;
}

.user_code_col {
    width: 160px;
}

.user_phone_col {
    width: 160px;
}



/* for orders page */


.order_name_item {
    cursor: pointer;
    text-align: left !important;
    justify-content: left !important;
}

.order_quantity {}

.order_return_date {}

.order_name_user {
    cursor: pointer;
    text-align: left !important;
    justify-content: left !important;
}


.order_accept_button {
    font-weight: 600;
    background-color: #EBF9F1;
    color: #1F9254;
    border: 1.5px solid #1F9254;
    border-radius: 15px;
    color: #1F9254;
    width: 70px;
    height: 40px;
    margin-right: 10px;
}

.order_accept_button.chosen {
    background-color: #1F9254;
    color: #EBF9F1;
}

.order_deny_button {
    font-weight: 600;
    background-color: #fff;
    border: 1.5px solid #A30D11;
    border-radius: 15px;
    color: #A30D11;
    width: 70px;
    height: 40px;
}

.order_deny_button.chosen {
    background-color: #A30D11;
    color: #FBE7E8;
}

.no_content {
    margin-top: 50px;
    margin-left: 100px;
    font-size: 40px;
    color: #212C58;
}