.alert_container {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 999;
    /* height: 100px; */
    width: 500px;
    display: flex;
    /* justify-content: ; */
    flex-direction: row;
    border-left: 5px solid;
}

.alert_icon {
    /* height: 100%; */
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert_icon i {
    font-size: 40px;
}

.alert_content {
    min-height: 100px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 30px;
}

.alert_content_title {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert_content_message {
    display: inline-block;
}

.alert_container.success {
    color: #fff;
    border-color: #539753;
    background-color: #8fbf2f;
}

.alert_container.error {
    color: #fff;
    border-color: #dc4a4d;
    background-color: #f25c5d;
}

.alert_container.trash {
    color: #fff;
    border-color: #dc4a4d;
    background-color: #f25c5d;
}

.alert_container.info {
    color: #fff;
    border-color: #076d91;
    background-color: #3397db;
}

.alert_container.warning {
    color: #fff;
    border-color: #dd6137;
    background-color: #f7931d;
}