
.list-search {
    margin: 15px;
    padding: 0 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: #000 solid 1px;
    font-size: 1rem;

    display: flex;
    justify-content: center;
}

.list-search i {
    display: flex;
    align-items: center;
}

.list-search input {
    border: none;
}

.list-search input:focus {
    outline: none;
}

.blank_page {
    height: 100vh;
    width: 100vw;
    background-color: azure;
}

.content_not_found {
    padding-top: var(--height-nav);
    height: calc(100vh - var(--height-footer));
    width: 100%;
    background-color: #6F7DB0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error {
    font-size: 80px;
    font-weight: 900;
    color: #fff;
}
.error_content {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}