input[type="checkbox"] {
    transform: scale(2);
}

/* all checked checkbox */
.dashboard_container {
    /* padding-left: 50px;
    padding-top: 200px; */
    background-color: #fff;
    width: 100vw;
    /* height: var(--height-temp); */
}

.member_container {
    background-color: #fff;
    width: 100%;
}

.admin_container {
    background-color: #fff;
    width: 100%;
}

/* Information */

#information {
    position: relative;
    height: calc(250px + var(--height-nav));
    padding-top: var(--height-nav);
    background: #6171A9;
    color: #fff;
}

#information>div {
    display: inline-block;
}

#information .title {
    position: absolute;
    top: calc(50px + var(--height-nav));
    left: 200px;
}

#information .title .name {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 900;
    margin: 0;
    margin-bottom: 10px;
}

#information .detail {
    position: absolute;
    top: calc(30px + var(--height-nav));
    right: 300px;
    display: flex;
}

.item-infor {
    margin-bottom: 8px;
    list-style-type: none;
}

.title_item-infor {
    margin-bottom: 8px;
    list-style-type: none;
    margin-right: 20px;
    text-align: right;
}

.button-info {
    border: none;
    /* position: absolute; */
    float: right;
    width: 90px;
    height: 40px;
    background-color: #48578E;
    margin-right: 10px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.button-info:hover {
    background-color: #334173;
    color: #fff;
}