input[type="checkbox"] {
    transform: scale(2);
}

/* all checked checkbox */
.dashboard_container {
    /* padding-left: 50px;
    padding-top: 200px; */
    background-color: #fff;
    width: 100vw;
    /* height: var(--height-temp); */
}

.member_container {
    background-color: #fff;
    width: 100%;
}

.admin_container {
    background-color: #fff;
    width: 100%;
}

/* Information */

#information {
    position: relative;
    width: 100%;
    height: calc(320px);
    margin-top: var(--height-nav);
    background: #6171A9;
    color: #fff;
}

#information>div {
    display: inline-block;
}

#information .title {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #1F9254; */
}

#information .title .name {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 900;
    min-width: 400px;
}

#information .title .description {
    min-width: 400px;
}

#information .detail {
    position: absolute;
    /* top: calc(30px + var(--height-nav)); */
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    align-items: center;
    /* background-color: #1F9254; */
}

.statistic_container {
    height: 300px;
    width: 500px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    /* font-size: 14px !important; */
    overflow: hidden;
    font-size: 13px !important;
}

.statistic_container text {
    font-size: 13px;
    font-weight: 400;
}

.statistic_container {
    font-size: 13px;
    font-weight: 600;
}

.statistic_content_title {
    height: 10%;
    /* width: 100%; */
    /* text-align: center; */
    margin: 10px 20px 0;
}

.statistic_content_users {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


.statistic_title {}

.information_button_container {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

#content {
    background-color: #fff;
    min-height: 100vh;
    /* position: relative; */
    /* padding-bottom: 300px; */
    display: flex;
}

.list-infor {
    
    margin-left: 50px;
    position: relative;
}

.item-infor {
    margin-bottom: 8px;
    list-style-type: none;
}

.title_item-infor {
    margin-bottom: 8px;
    list-style-type: none;
    margin-right: 20px;
    text-align: right;
}

.button-info {
    border: none;
    /* position: absolute; */
    float: right;
    width: 90px;
    height: 40px;
    background-color: #48578E;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.button-info:hover {
    background-color: #334173;
    color: #fff;
}

/* content - list */
#list {
    background-color: #fff;
    /* position: absolute; */
    width: calc(100% - var(--width-menu));
    /* right: 0; */
    /* left: var(--width-menu); */
    
}

.list-search {
    margin: 15px;
    padding: 0 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: #000 solid 1px;
    font-size: 1rem;

    display: flex;
    justify-content: center;
}

.list-search i {
    display: flex;
    align-items: center;
}

.list-search input {
    border: none;
}

.list-search input:focus {
    outline: none;
}

.list-item {
    padding: 8px 0px 8px 15px;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-item:hover {
    padding-left: 10px;
}

.list-item-title {
    padding: 8px 0px 8px 15px;
    height: 35px !important;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}

.list-item-odd {
    background-color: #F7F6FE !important;
}

/* you */
.list-item-you {
    background-color: #C0CFFA !important;
}

.list-item-col {
    width: 130px;
    padding: 0 15px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item-col .fa-solid {
    font-size: 1.3em;
    padding: 0 28px;
}

.accept {
    color: #1F9254;
    cursor: pointer;
}

.pending {
    color: #CD6200;
    cursor: pointer;
}

.list-item-col .accept_status {
    background-color: #EBF9F1;
    color: #1F9254;
    padding: 2px 13px;
    border-radius: 15px;
    font-style: normal;
    font-size: 14px;
}

.list-item-col .denied_status {
    background-color: #FBE7E8;
    color: #A30D11;
    padding: 2px 13px;
    border-radius: 15px;
    font-style: normal;
    font-size: 14px;
}

.list-item-col .pending_status {
    background-color: #FEF2E5;
    color: #CD6200;
    padding: 2px 13px;
    border-radius: 15px;
    font-style: normal;
    font-size: 14px;
}

.list-end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.move-list {
    border: none;
    background-color: #fff;
    font-weight: 500;
    font-size: 1em;
    color: #ccc;
    margin: 0 10px;
}

.list-number button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 8px;
    margin: 0 10px;
    font-weight: 400;
    font-size: 1em;
}

.list-number .chosen {
    color: #fff !important;
    background-color: #48578E !important;
}

.list-number button:hover {
    background-color: #6171A9;
    color: #fff;
}

/* edit password*/
.change_password_background {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(200, 200, 200, 0.2);
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.change_password_container {
    position: absolute;
    left: 40%;
    width: 450px;
    height: 400px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.change_password_container .change_password_body {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    text-align: center;
    color: #000;
}

.change_password_container .change_password_footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change_password_container .change_password_footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #48578E;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.label_body {
    font-size: 18px;
}

.input_body {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    background: #f2f2f2;
    border: 2px solid #F8F8F8;
    box-shadow: inset 0px 5px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding-left: 5px;
    margin-top: 5px;
}

.change_password_input_valid {
    padding-left: 5px;
    text-align: left;
    color: green;
    font-size: 10px;
    font-style: italic;
}

.change_password_input_invalid {
    padding-left: 5px;
    text-align: left;
    color: gray;
    font-size: 10px;
    font-style: italic;
}

.arange_icon {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5px;
}

.arange_icon i {
    color: #ccc;
    padding: 0px !important;
    font-size: 0.8em !important;
    height: 10px;
}

.arange_icon i.chosen {
    color: #000;
}