.dashboard_container {
    /* padding-left: 50px;
    padding-top: 200px; */
    background-color: #fff;
    width: 100vw;
    /* height: var(--height-temp); */
}

.member_container {
    background-color: #fff;
    width: 100%;
}

.admin_container {
    background-color: #fff;
    width: 100%;
}

.item_submit_button {
    border: none;
    width: 90px;
    height: 40px;
    background-color: #48578E;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.item_submit {
    display: flex;
    justify-content: flex-end;
    margin: 20px 4%;
}

.order_submit_button {
    border: none;
    width: 90px;
    height: 40px;
    background-color: #48578E;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.order_submit {
    display: flex;
    justify-content: flex-end;
    margin: 20px 4%;
}

.user_enable_submit_button {
    border: none;
    width: 220px;
    height: 40px;
    background-color: #48578E;
    border-radius: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.user_enable_submit {
    display: flex;
    justify-content: flex-end;
    margin: 20px 4%;
}

/* Information */

#information {
    position: relative;
    height: calc(250px + var(--height-nav));
    padding-top: var(--height-nav);
    background: #6171A9;
    color: #fff;
}

#information > div {
    display: inline-block;
}

#information .title {
    position: absolute;
    top: calc(50px + var(--height-nav));  
    left: 200px;
}

#information .title .name {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 900;
    margin: 0;
    margin-bottom: 10px;
}

#information .detail {
    position: absolute;
    top: calc(30px + var(--height-nav)); 
    right: 300px;
}

.item-infor {
    margin-bottom: 8px;
    list-style-type: none;
}