/* Header section */

#header {
    width: 100%;
    height: var(--height-nav);
    left: 0px;
    top: 0px;
    background: #6171A9;
    border-bottom: 1px solid #fff;
    position: fixed;
    z-index: 5;
}

#header li {
    display: inline-block;
    text-transform: uppercase;
}



#header .header-center {
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
}

.header-left {
    position: absolute;
    left: 5%;
    height: var(--height-nav);
    line-height: var(--height-nav);
    width: 230px;
    display: flex !important;
    align-items: center;
    justify-content: center;

}

.header-left .header-logo {
    width: 60px;
    display: inline-block;
    height: 100%;
}

.header-left img {
    width: 60px;
}

.header-left em {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
}

.header-left .text-logo-1 {
    color: #212C58;
    margin-right: 10px;
    height: 100%;
}

.header-left .text-logo-2 {
    color: #C0CFFA;
}

#header .header-right {
    position: absolute;
    right: 20px;
    display: flex;

}

.nav-user-btn {
    color: #fff;
    text-decoration: none;
    line-height: var(--height-nav);
    padding: 0 24px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-user-btn p {
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
    margin-right: 15px;
}

.nav-user-btn i {
    font-size: 40px;
    
}

.nav-btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: var(--height-nav);
    padding: 0 24px;
    height: 100%;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #48578E;
    color: #fff;
}

.nav-btn i {
    font-size: 1.5em;
    /* padding: 0 28px; */
}

.hamburger-icon {
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 30px !important;
    font-weight: 700;
    line-height: var(--height-nav);
    padding: 0 24px;
    cursor: pointer;
    text-align: center;
}

.hamburger-container {
    width: 300px;
    height: 100vh;
    background-color:rgba(72, 87, 142, 0.7);
    backdrop-filter: blur(0.8rem);
    position: fixed;
    top: 70px;
    right: 0;
    border: none;
    z-index: 10;
    color: #000;
    display: none;
}

.hamburger-item {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: var(--height-nav);
    padding: 0 24px;
    cursor: pointer;
    text-align: center;
}

.hamburger-item-border{
    border-bottom: solid 1px #C0CFFA;
}

.hamburger-item:hover {
    background-color: #48578E;
    color: #fff;
}

#hamburger-menu {
    padding: 0px 20px;
}

.hamburger_list_admin {
    border: none;
    /* position: absolute; */
    width: 100%;
    height: 35px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    /*background-color: #48578E;*/
    background-color: transparent;
}

.hamburger_list_admin:hover {
    color: #212C58;
}

.hamburger_list_admin.chosen {
    background: #fff !important;
    border-radius: 15px;
    color: #212C58;
}


/* Footer section */
.footer {
    width: 100vw;
    height: var(--height-footer);
    background-color: #212C58;
    color: #fff;
    position: relative;
}

.top_footer {
    position: relative;
    padding-top: 30px;
}

.top_footer a {
    text-decoration: none;
    color: #fff;
    margin-top: 8px;
}

.top_footer .item {
    display: flex;
    align-items: center;
}

.info {
    position: absolute;
    left: 5%;
    
}

.navi {
    position: absolute;
    right: 40%;
}

.item i {
    margin-right: 15px;
    color: #757575;
}

.item_btn {
    cursor: pointer;
}

.contact {
    position: absolute;
    right: 5%;
}

.bot_footer {
    margin-top: 100px;
}

.bot_footer .social {
    display: flex;
    margin-left: 5%;
    margin-bottom: 20px;
}

.bot_footer .social i {
    margin-right: 10px;
    font-size: 1.3em;
}

.bot_footer .another {
    position: relative;
    padding: 0 5%;
    width: 100%;
}

.another h4 {
    display: inline-block;
    margin-top: 50px;
}

.another .left {
    position: absolute;
}

.another .right{
    position: absolute;
    right: 5%;
}

.another .right h4 {
    margin-left: 20px;
}

/* responsive */
@media only screen and (max-width: 1040px) {
    .hamburger-icon {
        display: inline-block;
    }

    .hamburger-container {
        display: block;
    }

    .nav-btn {
        display: none;
    }

    .navi {
        display: none;
    }
    .another {
        display: block;
    }
}