.checklist-container {
    width: 325px;
    height: 510px;
    border-radius: 0px 0px 30px 30px;
    background-color: #6F7DB0;
    position: fixed;
    top: 70px;
    right: 0;
    border: none;
    z-index: 10;
}

.scrollChecklist {
    overflow-y: scroll;
    height: 350px;
    overflow-x: hidden;
    padding: 10px;
}


#checkList::-webkit-scrollbar {
    width: 5px;
}

#checkList:-webkit-scrollbar-track {
    background: none;
}

#checkList::-webkit-scrollbar-thumb {
    background: none;
}

#checkList::-webkit-scrollbar-thumb:hover {
    background: white;
    border-radius: 10px;
}

.checklist-title {
    font-weight: 900;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    color: #FFF;
    width: 50%;
}

.checklist-card {
    width: 300px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 10px;
}

.checklist-name {
    position: relative;
    font-weight: bold;
    left: 20px;
    top: 15px;
    font-size: 14px;
    margin-bottom: 10px;
}

.checklist-note {
    left: 20px;
    top: 10px;
    position: relative;
    font-size: 12px;
}

.checklist-button {
    background-color: #EEF1F4;
    border-radius: 8px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.trash {
    background-color: #FF0000;
    color: #fff;
}

.trash:hover {
    background-color: #DD0000 !important;
}

.limit {
    background-color: #DADADA !important;
    color: #757575 !important;
}

.checklist-button:hover {
    background-color: #DADADA;
}

.checklist-quantity {
    font-size: 14px;
    float: right;
    color: black;
    padding-top: 5px;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.checklist-submit {
    width: 100%;
    height: 110px;
    background-color: #334173;
    border-radius: 30px;
    padding: none;
    position: relative;
}

.checklist-item-quantity {
    font-size: 14px;
    color: white;
    top: 25%;
    position: absolute;
    left: 10%
}

.checklist-submit-button {
    width: 120px;
    height: 50px;
    right: 20px;
    top: 30%;
    border: none;
    background-color: #fff;
    color: #212C58;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
    position: absolute;
}

.checklist-submit-button:hover {
    cursor: pointer;
    background-color: #212C58;
    color: #fff
}


.checklist-submit-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
}
.checklist-submit-modal-container {
    width: 650px;
    height: 600px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}


.checklist-submit-modal-title {

}

.checklist-submit-modal-content {
    width: 100%;
    height: 80%;
}

.checklist-submit-modal-content .checklist-card {
    width: 100%;
    height: 70px;
    /* border: 1.5px solid #212C58; */
    border-radius: 0px !important;
    /* background-color: #6F7DB0; */
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    border-bottom: 1px solid #212C58;
    margin: 0;
}

.checklist-card-top {

    width: 90%;
    height: 50%;
    /* background-color: yellow; */
    position: relative;
    font-size: 18px;

}
.checklist-card-top-left {
    position: absolute;
    left: 0;
    font-weight: 700;
}
.checklist-card-top-right {
    position: absolute;
    right: 0;
    top: -10px;
}
.checklist-card-bottom {
    width: 90%;
    height: 50%;
    /* background-color: yellow; */
    position: relative;
    font-size: 14px;
}

.checklist-card-bottom-left {

    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;

}

.checklist-card-bottom-left p {
    width: 200px;
}

.checklist-datepicker {
    width: 100px;
    
}

.checklist-card-bottom-right {
    position: absolute;
    right: 0;
    /* top: -10px; */
    top: 5px;
}

.checklist-card-bottom-right p {
    font-size: 10px;
    font-style: italic;
    color: red;
    font-weight: 200;
}

.checklist-valid {
    color: green !important;
}

.checklist-card-checkbox {
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.checklist-submit-modal-content::-webkit-scrollbar {
    width: 5px;
}

.checklist-submit-modal-content:-webkit-scrollbar-track {
    background: none;
}

.checklist-submit-modal-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    /* margin-right: 5px; */
}
