.homepage-container {
    width: 100vw;
}

.homepage-title {
    font-weight: bold;
    font-size: 30px; 
    margin-left: 30px; 
    margin-top: 80px;
}

.un-title {
    margin-top: 30px !important;
}

.list-search  {
    display: flex;
    align-items: center;
    margin-left: 30px; 
}

.homepage-item-container {
    position: relative;
    margin:auto; 
    margin-top: 23px;
    margin-left: 5%;
    margin-right: 5%;
}
.homepage_card {
    position: relative;
    width: 30%;
    height: 190px;
    display: inline-flex;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;
}

.homepage_leftcard {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #97A5D0;
}
.homepage_rightcard {
    position: absolute;
    display: block;
    left: 50%;
    width: 50%;
    margin-left: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.un-leftcard {
    background-color: #DADADA !important;
}

.homepage_name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.homepage_info {
    margin-left: 20px !important;
    font-size: 11px;
    padding-top: 2px;
    color: #6D6D6D;
}

.homepage_reg {
    position: absolute;
    top: 110px;
    font-weight: bold;
    width: 111px; 
    height: 41px; 
    border: none; 
    background-color: #334173; 
    color: #fff; 
    font-size: 12px; 
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 15px;
}

.homepage_reg:hover {
    cursor: pointer;
    background-color: #212C58;
    color: #fff;
}

.homepage_added {
    font-weight: bold;
    width: 111px; 
    height: 41px; 
    border: 1px solid 334173;
    background-color: #fff; 
    color: #334173; 
    font-size: 12px; 
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 15px;
}

.homepage_added:hover {
    cursor: pointer;
    background-color: #fff;
    color: red;
    border: 1px solid red;
}

.homepage-un-button {
    font-weight: bold;
    width: 111px; 
    height: 41px; 
    border: none; 
    font-size: 12px; 
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    background-color: #757575;
    color: #fff;
}

.homepage-line {
    height:3px; 
    width:80%; 
    margin:auto; 
    border-width:0; 
    color: #000000; 
    background-color:black;
}

