.content {
    background-color: #000;
    height: calc(100vh - var(--height-nav)) ;
    background-color: #ccc;
    position: relative;
}

.menu {
    background-color: #48578E;
    width: var(--width-menu);
    height: 100%;
    position: absolute;
    padding: 20px 15px;
}

.menu_title {
    color: #fff;
    margin: 10px auto;
}

.menu_list {
    border: none;
    /* position: absolute; */
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1em;
    color: #000 ;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
}

.menu_list:hover {
    background-color: #6171A9;
    color: #fff;
}

.menu_list.chosen {
    background: #212C58 !important;
    color: #fff !important;
}

.item-col-name {
    width: 300px;
    flex-grow: 3 !important;
    text-align: left !important;
    justify-content: left !important;
}

/* responsive */

#header .phone-tablet {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
}

.phone-tablet .pandt {
    position: relative;
    text-decoration: none;
    display: none;
    color: #fff;
    font-weight: 700;
    line-height: var(--height-nav);
    padding: 0 24px;
    height: 100%;
    font-size: 2.5em;
}

/* tablet */

/* @media only screen and (max-width: 64em) {
    #information, #header .header-right, #content #menu {
        display: none;
    }
    .phone-tablet .pandt {
        display: inline-block;
    }
    #content #list {
        margin-top: 1em;
        width: 100%;
        left: 0;
    }
    @media only screen and (max-width: 48em) {
        .list-item-col {
            width: 50px;
        }
    }
    @media only screen and (max-width: 37.5em) {
        #header {
            font-size: 1em;
        }
    }
} */

/* phone */

/* @media only screen and (max-width: 25.875em) {
    #header {
        font-size: 0.8em;
        padding: 0 50px;
    }   
    
} */