<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <title>Home page before login</title>
</head>
<body>
    <header id="header">
        <ul>
            <li class="header-left">
                <a href="" class="text-logo">
                    <em class="text-logo-1">Asset</em>
                    <em class="text-logo-2">CSE</em>
                </a>
            </li>
            <li class="header-right">
                <a href="" class="text-logo">
                    <em class="contact">Contact</em>
                </a>
            </li>
        </ul>
    </header>

    <div id="body">
        <!--left body-->
        <div class="common">
            <h2 id="welcome"><b>WELCOME TO ...</b></h2>
            <p><b>CSE</b></p>
            <p class="space1"><b>ASSET</b></p>
            <p class="space2"><b>MANAGER</b></p>
            <h4>This website manages CSE's assets. You can register to borrow and return equipment here.</h4>
            <a href="Login.html"> <h5 class="log">LOG IN</h5> </a>
            <a href=""> <h5 class="sign">SIGN UP</h5> </a>
        </div>
        <!--right body-->
        <div class="sitelogin">
            <h1>Log</h1>
            <h1 class="col">In</h1>
            <h3 class="account">Don't have account?</h3>
            <a href=""><h3 id="signup" class="account">Sign up now</h3></a>
            <label for="email">Email Address</label>
            <form>
                <input type="text" inputmode="email" placeholder="examples@hcmut.edu.vn" id="email" name="email">
            </form>
            <label for="pass" class="pass">Password</label>
            <form>
                <input type="password" placeholder="Enter password" id="pass" name="pass" class="enterpass">            
            </form>
            <hr class="line"> 
            <p id="place"> Or </p> 
            <hr class="line" id="place2">
            <a href="">
                <img src="hinh\gg.png" alt="Error" class="gg">
            </a>
            <a href="">
                <p class="login">Log In</p>
            </a>
            <a href="">
                <p class="problem">Can't log in?</p>
            </a>
        </div>
    </div>

</body>
</html>