<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="member.css">
    <title>Document</title>
</head>

<body>
    <header id="header">
        <ul>
            <li class="header-left">
                <a href="" class="text-logo">
                    <em class="text-logo-1">Asset</em>
                    <em class="text-logo-2">cse</em>
                </a>
            </li>
            <li class="header-right">
                <a href="" class="nav-btn">Home</a>
                <a href="" class="nav-btn">Profile</a>
                <a href="" class="nav-btn"><i class="fa-solid fa-box-open"></i></i></a>
            </li>
        </ul>
        <div class="phone-tablet">
            <a href="" class="pandt"><i class="fa-solid fa-box-open"></i></i></a>
            <a href="" class="pandt"><i class="fa-solid fa-bars"></i></a>
        </div>
    </header>

    
    <div id="information">
        <div class="title">
            <h1 class="name">
                Lê Thanh Tân
            </h1>
            <p class="description">
                member and admin
            </p>
        </div>
        <div class="detail">
            <ul class="list-infor">
                <li class="item-infor">ID: 11111111111111</li>
                <li class="item-infor">Name: Le Thanh Tan</li>
                <li class="item-infor">Student code: 2014451</li>
                <li class="item-infor">Phone number: 0337229803</li>
            </ul>
        </div>
    </div>


    <div id="content">
        <div id="menu">
            <h1 class = "menu_title" >LIST</h1>
            <button class="menu_list chosen">Current orders</button>
            <button class="menu_list">Borrowing orders</button>
            <button class="menu_list">Returned orders</button>
        </div>

        <div id="list">
            
            <div class="list-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search item">
            </div>
            
            <div class="list-item list-item-title">
                <div class="list-item-col">Category</div>
                <div class="list-item-col item-col-name">Item</div>
                <div class="list-item-col">Quantity</div>
                <div class="list-item-col">Date</div>
                <div class="list-item-col">Permission</div>
                <div class="list-item-col">Status</div>
            </div>
            <div class="list-item list-item-odd">
                <div class="list-item-col">ABC</div>
                <div class="list-item-col item-col-name">Device name</div>
                <div class="list-item-col">12</div>
                <div class="list-item-col">12/05/2022</div>
                <div class="list-item-col accept"><i class="fa-solid fa-download"></i></div>
                <div class="list-item-col"><i class="accept_status">Accept</i></div>
            </div>
            <div class="list-item">
                <div class="list-item-col">XYZ</div>
                <div class="list-item-col item-col-name">Device name</div>
                <div class="list-item-col">100</div>
                <div class="list-item-col">12/05/2022</div>
                <div class="list-item-col"><i class="fa-solid fa-download"></i></div>
                <div class="list-item-col"><i class="denied_status">Denied</i></div>
            </div>
            <div class="list-item list-item-odd">
                <div class="list-item-col">OPQ</div>
                <div class="list-item-col item-col-name">Device name</div>
                <div class="list-item-col">3</div>
                <div class="list-item-col">12/05/2022</div>
                <div class="list-item-col"><i class="fa-solid fa-download"></i></div>
                <div class="list-item-col"><i class="pending_status">Pending</i></div>
            </div>
            <div class="list-item">
                <div class="list-item-col">XYZ</div>
                <div class="list-item-col item-col-name">Device name</div>
                <div class="list-item-col">100</div>
                <div class="list-item-col">12/05/2022</div>
                <div class="list-item-col  accept"><i class="fa-solid fa-download"></i></div>
                <div class="list-item-col"><i class="accept_status">Accept</i></div>
            </div>
            <div class="list-item list-item-odd">
                <div class="list-item-col">OPQ</div>
                <div class="list-item-col item-col-name">Device name</div>
                <div class="list-item-col">3</div>
                <div class="list-item-col">12/05/2022</div>
                <div class="list-item-col"><i class="fa-solid fa-download"></i></div>
                <div class="list-item-col"><i class="pending_status">Pending</i></div>
            </div>
            <div class="list-item">
                <div class="list-item-col">XYZ</div>
                <div class="list-item-col item-col-name">Device name</div>
                <div class="list-item-col">100</div>
                <div class="list-item-col">12/05/2022</div>
                <div class="list-item-col"><i class="fa-solid fa-download"></i></div>
                <div class="list-item-col"><i class="denied_status">Denied</i></div>
            </div>
            <div class="list-item list-item-odd">
                <div class="list-item-col">OPQ</div>
                <div class="list-item-col item-col-name">Device name</div>
                <div class="list-item-col">3</div>
                <div class="list-item-col">12/05/2022</div>
                <div class="list-item-col"><i class="fa-solid fa-download"></i></div>
                <div class="list-item-col"><i class="pending_status">Pending</i></div>
            </div>


            <div class="list-end">
                <div id="previous-number"><button class="move-list">Previous</button></div>
                <div class="list-number"><button class="chosen">1</button></div>
                <div class="list-number"><button>2</button></div>
                <div class="list-number"><button>3</button></div>
                <div id="next-number"><button class="move-list">Next</button></div>
            </div>
        </div>
    </div>
    <footer id="footer">
    </footer>
</body>

</html>