.container {
    position: relative;
    width: 1000px;
    height: 1000px;
    background-color: #000;
}
.left {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: bisque;
}
.right {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: aqua;
}